.project__links_button {
    width: 200px;
    text-align: center;
    padding: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.46;
    text-decoration: none;
    border: 2px solid #ffff63;
    border: 2px solid #808080;
    border-radius: 7px;
    color: #ffff63;
    background-color: #b2b2b2;
}

.project__links_button:hover {
    border: 2px solid black;
    background-color: #808080;
}

