.button {
    padding: 0;
    min-width: 130px;
    color: #cfd2d3;
    background-color: black;
    margin: 0 20px;
    border: none;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.46;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    color: black;
    background-color: #ffff63;
    transition: 0.7s;
}

.button:active {
    border: none;
}
